@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>
        Index
    </title>
</head>
<body>
    <h2>Информация</h2>
    <h4>
        Для перехода по меню выберите пункты вверху <br>
        Для добавления новой записи нажмите на кнопку "Добавить" <br>
        Во время добавления новой записи можно вернуться назад нажав на кнопку "Отмена" <br>
        Для редактирования записи нажмите кнопку "Редактировать" напротив нужного поля <br>
        Во время редактирования можно вернуться назад нажав на кнопку "Назад" <br>
        Для удаления записи нажмите кнопку "Удалить" напротив нужного поля <br>
    </h4>
    <br />
    <table>
    </table>
</body>
</html>